@charset "UTF-8";

 img{
   width: 100%;
   display: block;
}

.lt_nav{
  padding: 10px;
}
.lt_nav li{
  float: left;
  width: 33.3%;
}
.lt_product{
  width: 100%;
  padding: 10px;
}
.lt_product .item{
  float: left;
  width: 48%;
  padding:10px;
  margin-top: 10px;
  border:1px solid #ccc;
  text-align: center;
}
.lt_product .item:nth-child(odd){
  margin-right: 4%;
}
.item .money{
  margin:10px;
}
.item span:first-child{
  font-size: 16px;
  color: red;
}
.item span:nth-child(2){
  font-size: 14px;
  text-decoration: line-through;
  color:#ccc;
  margin-left:8px;
}