.floor{
  position:fixed;
  bottom:0;
  width: 100%;
  max-width: 640px;
  background-color: #eee;
  height:45px;
  text-align: center;
  margin:0 auto;
  padding:5px 10px 5px 10px;
}
.container{
  padding-bottom: 45px;
}
.floor .shop{
  font-size: 14px;
  line-height:35px;
  float: left;
  margin-left: 10px;
}
.lt_content .lt_item{
  border-bottom: 1px solid #ccc;
  padding:10px;
  word-break: break-all;
}
.lt_item p{
  margin:0;
  padding:0;
}
.lt_content .first-item{
  border-top:1px solid #ccc;
}
.pro_name{
  font-size: 16px;
  font-weight: 700;
  color:#000;
}
.lt_content .lt_item .price{
  font-size: 20px;
  color:red;
}
.lt_content .lt_item .old-price{
  color:#666;
  text-decoration: line-through;
  padding-left: 5px;
  font-size: 12px;
}
.lt_item .size span{
  background-color: #eee;
  padding:5px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.lt_item .num{
  font-size: 12px;
}
.lt_item .desc{
  
}

